@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi! My name is Sofia Hjerpe and I'm 23 years old. I go to a Programming course at Distansakademin.
            During the course I will make projects to learn more about coding. To see my projects go to "Projects".</p>
 
</div>
